# Git
.git
.gitignore

# Dependencies
node_modules

# Build
dist

# IDE
.vscode
.idea
*.iml

# Environment
.env
.env.*
!.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.bak
